# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Node
node_modules/
,pnpm-store/
dist/
.vite/
.cache/

# General
.git/
.gitignore
.Dockerfile
.dockerignore
.env
.env.local
.vscode/
.idea/
*.log
*.lock
*.swp

# OS-specific
.DS_Store
Thumbs.db